<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.ssm.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.zking.ssm.model.SysUser">
    <constructor>
      <idArg column="userid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PASSWORD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="salt" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    userid, username, PASSWORD, salt, createdate
  </sql>
  <select id="queryUserByUserName" resultType="com.zking.ssm.model.SysUser">
    SELECT <include refid="Base_Column_List"/>
    FROM t_sys_user where username=#{username}
  </select>

</mapper>